#header {
  display: flex;
  padding: 20px 80px;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .6); /* Darken the shadow */
  background-color: #0f0c29; /* Dark purple */
  justify-content: space-between;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  padding: 0 5px;
  justify-content: center;
}

#navbar li {
  list-style-type: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #f72585; 
  transition: color 0.3s ease; /* Smooth color transition */
  padding: 10px 15px; 
  border-radius: 5px; 
  border: 2px solid transparent; /* Border setup */
}

#navbar li a:hover,
#navbar li a.active {
  color: #457b9d; 
  background-color: #1d3557; 
  border-color: #457b9d; /* Border color */
}

#hero {
  background: linear-gradient(135deg, #4e4376, #2b5876); /* Gradient from purple to dark blue */
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; /* Text color */
}

#hero .container {
  max-width: 800px;
}

#hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#hero h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

#hero p {
  font-size: 18px;
  line-height: 1.6;
}
/* Custom CSS for hero button */
.hero-btn {
  background-color: #457b9d;
    border-color: #457b9d; 
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #1d3557; 
  border-color: #1d3557; 
}


